<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Analyst Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/atom-one-dark.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"> <!-- FontAwesome CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>

    <div class="content">
        <header>
            <h1>Sergey Muravskiy</h1>
            <nav>
                <a href="#about">About</a>
                <a href="#contacts">Contacts</a>
                <a href="#stack">Stack</a>
                <a href="#experience">Experience</a>
                <!-- Other navigation links -->
            </nav>
        </header>

        <main>
            <section id="about" class="code-experience">
                <pre><code class="json">
{
    "about": {
        "name": "Муравский Сергей",
        "title": "Системный Аналитик"
        "city": "Москва"
    }
}
                </code></pre>
            </section>

            <section id="contacts" class="code-experience">
                <pre><code class="json">
{
    "contacts": {
        "email": "mail@muravskiy.com",
        "tg": "@somepeoplesay",
        "LinkedIn": "/muravskiy"
    }
}
                </code></pre>
            </section>

            <section id="experience" class="code-experience">
                <pre><code class="json">
{
    "experience": [
        {
            "Company": "ПАО Европлан",
            "Role": "System Analyst",
            "Years": "2022-2023",
            "Description": "My responsibilities."
        },
        // More experience is coming soon...
    ]
}
                </code></pre>
            </section>

            <section id="stack" class="code-experience">
                <pre><code class="json">
{
    "TechStack": {
        "Languages": [
            "C#", 
            "Python", 
            "SQL"
        ],
        "Frameworks": [
            "ASP.Net", 
            "Angular", 
            "Django"
        ],
        "Databases": [
            "PostgreSQL", 
            "MongoDB"
        ],
        "Tools": [
            "UML", 
            "Git", 
            "Lucidchart", 
            "Visio", 
            "Balsamiq"
        ],
        "Development Methodologies": [
            "Agile", 
            "Scrum", 
            "Kanban", 
            "Waterfall"
        ],
        "Project Management Tools": [
            "JIRA", 
            "Asana", 
            "Trello",
            "Redmine"
        ],
        "Documentation Tools": [
            "Confluence", 
            "Microsoft Office", 
            "Google Workspace"
        ],
        "Process Modeling": [
            "BPMN", 
            "UML"
        ],
        "Testing Tools": [
            "Fiddler", 
            "Postman", 
            "Burp"
        ]
    }
}
                </code></pre>
            </section>
            
        </main>

        <footer>
            <div class="social-links" style="text-align: center;">
                <!-- Иконка Telegram -->
                <a href="https://t.me/somepeoplesay" target="_blank" title="Telegram" style="color: #0088cc; font-size: 24px; margin: 0 10px; text-decoration: none;">
                    <i class="fab fa-telegram-plane"></i>
                </a>
                <!-- Иконка Email -->
                <a href="mailto:mail@muravskiy.com" target="_blank" title="Email" style="color: #d44638; font-size: 24px; margin: 0 10px; text-decoration: none;">
                    <i class="fas fa-envelope"></i>
                </a>
                <!-- Иконка LinkedIn -->
                <a href="https://linkedin.com/in/muravskiy" target="_blank" title="LinkedIn" style="color: #0077b5; font-size: 24px; margin: 0 10px; text-decoration: none;">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <!-- Иконка YouTube -->
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" title="YouTube" style="color: #ff0000; font-size: 24px; margin: 0 10px; text-decoration: none;">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </footer>
        
    </div>

    
</body>

</html>